body{
	overflow-x: hidden;
}

/* compensate (for working) */

.logged-in header {
	/*background: red;*/
	/*display: none;*/
	margin-top: -32px;
}

.logo{
	width: 100%;
}

.main-container{
	width: 100%;
	height: 100vh;
}

.site-content{
	width: 100%;
	margin: 0;
}

.page .container{
	max-width: 810px;
}

.navigation{
	/*min-height: 487px;*/
	width: 755px;
	margin: 30px auto 0;
	position: relative;
	/*right: 12px;*/
	padding: 0;
	box-sizing: border-box;
	/*background: #da41ca;*/
}

.menu-ul{
	text-indent: 0;
	padding: 0;
	margin: 0;
}

.custom-menu{
	display: inline-block;
}

.custom-menu a{
	display: inline-block;
	text-transform: lowercase;
	font-size: 22px;
	text-align: center;
	font-family: cursive;
	padding-top: 20px;
	text-decoration: none;
	color: black;
	margin-bottom: 20px;
	margin-right: 8px;
	margin-left: 8px;
}

.nav a{
	height: 233px;
	width: 233px;
	transform: translateY(0);
	transition: transform 0.25s;
}

.nav a:hover {
	transform: translateY(-5px);
	transition: transform 0.25s;
}

@media screen and (min-width: 700px) and (max-width: 1300px) and (min-height: 600px) {
	body{
		background: #fff;
	}
	.navigation{
	width: 656px;
	background: white;
	}
	.nav a{
		height: 200px;
		width: 200px;
	}
}

@media screen and (max-width: 700px) and (min-width: 520px) and (min-height: 350px){
	body{
		background: #eee;
	}
	.custom-menu a{
		padding-top: 8px;
	}
	.navigation{
	/*background: #a1a23f;*/
	width: 506px;
	}
	.nav a{
		height: 150px;
		width: 150px;
	}
}

@media screen and (max-width: 520px){
	.custom-menu a{
		padding-top: 8px;
	}
	.navigation{
	/*background: #a162aa;*/
	width: 336px;
	}
	.nav a{
		height: 150px;
		width: 150px;
	}
}

@media screen and (max-width: 330px){
	.custom-menu a{
		padding-top: 5px;
	}
	.navigation{
	background: #a162db;
	width: 316px;
	}
	.nav a{
		height: 140px;
		width: 140px;
	}
}



