body{
	overflow-x: hidden;
	/*background: #000;*/
}

#dublineslug a,
#atslug a,
#gmailslug a{
	color: red;
}

.mejs-container{
	background: red;
	/*max-width: 300px;*/
}

/* 404 */
.not-found{
	height: 50vh;
	width: 50vw;
	/*background: red;*/
	text-align: center;
	margin: 0 auto;
	display: table;
}

.center{
	width: 100%;
	text-align: center;
}

.center.ht img{
	width: 100%;
	max-width: 1024px;
	height: auto;
}

.ht-links h2,
.ht-links h2 a{
	padding: 20px 0;
	/*background: blue;*/
	/*color: green;*/
}

.container-fluid.hear{
	padding: 20px 15%;
}

.htpic{
	margin: 10px auto;
}

.blog-container{
	background: #333;
	padding: 20px 30px;
	color: #FBFBFB;
	margin: 30px auto;
	width: 75%;
	max-width: 1024px;
}

.bg-container{
	background: #333;
	color: #FBFBFB;
	padding: 20px 30px;
}

.blog-container h1{
	text-align: center;
}

.blog-container > img{
	margin: auto;
}

.text{
	/*background: red;*/
	padding: 20px 0;
}

.middle{
	display: table-cell;
	vertical-align: middle;
	font-size: 32px;
}

.padder{
	width: 100%;
	height: 20px;
}

.white-space{
	width: 100%;
	height: 200px;
}

.go-back{
	/*background: red;*/
	padding: 20px;
	text-align: center;
	font-size: 20px;
	
}

.go-back a{
	color: black;
}

.go-back.img{
	margin-top: 50px;
}

/* compensate (for working) */

.logged-in header {
	/*margin-top: -32px;*/
}

header{
	text-align: center;
}

.logo{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.main-container{
	width: 100%;
	height: 100vh;

}

.main-container.black{
	background: black;
	transition: background 0.25s;
}

.site-content{
	width: 100%;
	margin: 0;

}

.page .container{
	max-width: 810px;
}

.navigation{
	width: 755px;
	margin: 30px auto 0;
	position: relative;
	padding: 0;
	box-sizing: border-box;
	/*background: red;*/
}

.navigation-links{
	width: 842px;
	margin: 30px auto 0;
	position: relative;
	padding: 0;
	box-sizing: border-box;
	/*background: red;*/
}

.menu-ul{
	text-indent: 0;
	padding: 0;
	margin: 0;
}

.custom-menu{
	display: inline-block;
}

.custom-menu a{
	display: inline-block;
	text-transform: lowercase;
	font-size: 28px;
	text-align: center;
	font-family: 'Jim Nightshade', cursive;
	padding-top: 20px;
	text-decoration: none;
	color: black;
	margin-bottom: 20px;
	margin-right: 8px;
	margin-left: 8px;
}

.nav a{
	height: 233px;
	width: 233px;
	transform: translateY(0);
	transition: transform 0.25s;
}

.nav-link a{
	height: 131px;
	width: 131px;
	margin: 3px;
	transform: translateY(0);
	transition: transform 0.25s;
}

.nav a:hover,
.nav-link a:hover {
	transform: translateY(-5px);
	transition: transform 0.25s;
}

.nav-link a > .linky-text{
	/*color: red;*/
	top: 10px;
	position: absolute;
	font-size: 18px;
	left: 0;
	text-align: center;
	/*background: blue;*/
	width: 100%;

}

/* BANDCAMP */

.album{
	height: 233px;
	width: 233px;
	margin: 0 8px;
}

.album-desc{
	width: 233px;
	height: 50px;
	text-align: center;
	margin-bottom: 5px;
	padding: 5px;
	overflow: hidden;
	/*background: red;*/
	position: relative;
}

.padbug{
	/*background: blue;*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 10px;
	margin: auto;
}

/* HEARING THERE */
.page-thum{
	/*text-align: center;
	margin: 0 8% 30px;
	position: relative;
  width: 84%;
  padding-bottom: 60%;
  float: left;
  height: 0;*/
  margin-bottom: 30px;
}

.page-feat{
	/*text-align: center;
	margin: 0 auto 50px;*/
	/*position: relative;*/
	/*background: red;
  width: 100%;*/
  /*padding-bottom: 60%;*/
  /*float: left;*/
  /*height: 0;*/
  margin-top: 40px;
}

.page-thum img,
.page-feat img{
	/*max-width: 100%;
	max-height: 100%;*/
	width: 100%;
  height: auto;
  /*position: absolute;
  left: 0;*/
}



/* Carousel */
.carousel-container{
	height: 100%;
	width: 100%;
}

/*  query carousel width and img max h and max w */

.carousel{
  width: 80%;
  margin: auto;
  z-index: 600;
  background: #000;
}

.carousel-inner > .item > img {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  max-width:1024px;
  max-height:576px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.carousel-control.left { left: -120px; }
.carousel-control.right { right: -120px; }

.carousel .item{
  height: 100%;
  width: 100%;
}

.carousel-inner > .item > a{
	cursor: default;
}

.carousel-control.right,
.carousel-control.left{
	background: none;
  z-index: 10;
  width: 30px; 
}

.carousel-control,
.carousel-control:active,
.carousel-control:focus,
.carousel-control:hover{
	color: #aaa;
	opacity: 1;
	cursor: default;
}

.images{
	background: black;
	height: 100%;
	width: 100vw;
	margin-bottom: -200px;
}

.images,
.images a{
	color: #aaa;
}

@media screen and (min-width: 1800px){
	.carousel-inner > .item > img{
		max-width:2048px;
	  max-height:1152px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1300px){
	.carousel-control.left { left: -30px; }
	.carousel-control.right { right: -30px; }
	
	.carousel{
	  width: 90%;
	  /*background: green;*/
	}

	.carousel-inner > .item > img {
	  max-width:1000px;
	  max-height:563px;
	}
}



@media screen and (max-width: 768px){
	.blog-container{
		width: 100%;
	}
}



@media screen and (min-width: 700px) and (max-width: 1023px){
	.carousel-control.left { left: 0px; }
	.carousel-control.right { right: 0px; }
	
	.carousel{
	  width: 90%;
	}

	.carousel-inner > .item > img {
	  max-width:640px;
	  max-height:360px;
	}
	.ht-links h2,
	.ht-links h2 a{
		font-size: 26px;
	}
}

/* formerly and (min-height: 600px) */
@media screen and (min-width: 700px) and (max-width: 1300px)  {
	body{
		background: #fff;
	}
	.navigation{
		width: 656px;
		/*background: blue;*/
	}
	.navigation-links{
		width: 560px;
		/*background: blue;*/
	}
	.nav a{
		height: 200px;
		width: 200px;
	}
	.album{
		height: 200px;
		width: 200px;
	}

	.album-desc{
		width: 200px;
		height: 60px;
	}
	
}

@media screen and (max-width: 700px) and (min-width: 520px){
	.carousel-control.left { left: -10px; }
	.carousel-control.right { right: -10px; }
	.carousel{
	  width: 90%;
	}

	.carousel-inner > .item > img {
	  max-width:500px;
	  max-height:281px;
	}
	.ht-links h2,
	.ht-links h2 a{
		font-size: 24px;
	}
}

/* formerly and (min-height: 350px) */
@media screen and (max-width: 700px) and (min-width: 520px){
	
	.custom-menu a{
		padding-top: 8px;
	}
	.navigation{
	/*background: #a1a23f;*/
	width: 506px;
	}
	.navigation-links{
		width: 420px;
		/*background: green;*/
	}
	.nav a{
		height: 150px;
		width: 150px;
	}
	.album{
		height: 150px;
		width: 150px;
	}

	.album-desc{
		width: 150px;
		height: 80px;
	}	
}

@media screen and (max-width: 520px){
	.custom-menu a{
		padding-top: 8px;
	}
	.navigation{
	/*background: #a162aa;*/
	width: 336px;
	}
	.navigation-links{
		width: 278px;
		/*background: yellow;*/
	}
	.nav a{
		height: 150px;
		width: 150px;
	}
	.album{
		height: 150px;
		width: 150px;
	}

	.album-desc{
		width: 150px;
		height: 80px;
	}
	.carousel-control.left { left: -10px; }
	.carousel-control.right { right: -10px; }
	.carousel{
	  width: 90%;
	}

	.carousel-inner > .item > img {
	  max-width:300px;
	  max-height:169px;
	}
	.ht-links h2,
	.ht-links h2 a{
		font-size: 16px;
	}
}

@media screen and (max-width: 390px){
	.bg-container{
		padding: 20px 15px;
	}
}

@media screen and (max-width: 330px){
	.custom-menu a{
		padding-top: 5px;
	}
	.navigation{
	/*background: blue;*/
	width: 320px;
	/*margin: 0;*/
	margin-left: -5px; /* shonky kluge */
	}
	.nav a{
		height: 135px;
		width: 135px;
	}
	.album{
		height: 135px;
		width: 135px;
	}

	.album-desc{
		width: 135px;
		height: 90px;
	}
	.carousel-control.left { left: -20px; }
	.carousel-control.right { right: -20px; }

	.carousel{
	  width: 90%;
	}

	.carousel-inner > .item > img {
	  max-width:300px;
	  max-height:169px;
	}
	.ht-links h2,
	.ht-links h2 a{
		font-size: 14px;
	}
}

.custom-text > p{
	font-size: 22px;
	text-align: center;
	margin-bottom: 15px;
}

/* Youtube */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vid-desc{
	margin: 30px auto 40px;
	padding: 15px;
}

.bandcamp{
	position: relative;
	padding-bottom: 130px; 
	padding-top: 25px;
	height: 0;
	width: 88%;
	margin: 0 auto;
}

.bandcamp iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.soundcloud{
	position: relative;
	padding-bottom: 166px; 
	height: 0;
	width: 100%;
	margin: 0 auto;
}

.soundcloud iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.track-desc{
	margin: 20px auto;
	padding: 10px;
}










